.vscode
build

platform/stm32l4/Core
platform/stm32l4/Drivers
platform/stm32l4/.mxproject
platform/stm32l4/Makefile
platform/stm32l4/startup_stm32l452xx.s
platform/stm32l4/STM32L452RETx_FLASH.ld