.vscode
build

src/platform/stm32l4/Core
src/platform/stm32l4/Drivers
src/platform/stm32l4/.mxproject
src/platform/stm32l4/Makefile
src/platform/stm32l4/startup_stm32l452xx.s
src/platform/stm32l4/STM32L452RETx_FLASH.ld